body {
  background-color: #ffffff;
  color: black;
}

h1 {
  font-size: 24px;
  color:#182c5b;
  text-align: center;
}

h2 {
  font-size: 20px;
  color: #182c5b;
  border-bottom: 2mm ridge rgba(0, 81, 255, 0.753); 
}

h3 {
  font-size: 18px;
  padding-left: 4px;
  border-left: solid 4px #182c5b;
}

.iniad {
  color:#182c5b;
}

.time {
  font-weight: bold;
  color: #182c5b;
  font-size: 18px;
}

.map > iframe {
  width: 40%;
  height: 300px;
}

.access {
  color: #182c5b;
}